<ion-content>

  <body class="login-blue">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn firts slide-img-padding ion-text-center ion-margin">
          <img src="assets/img/logo.png" alt="" />
        </div>
        <!-- Login Form -->
        <form [formGroup]="formLogin" (submit)="login()">
          <ion-item>
            <ion-icon name="at" slot="start"></ion-icon>
            <ion-input type="email" class="fadeIn second ion-padding-bottom" clearInput formControlName="email"
              placeholder="E-mail" inputmode="email" autofocus="true">
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="email.dirty &&
            email.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="danger" *ngIf="email.dirty &&
            email.hasError('email')">
            E-mail Inválido
          </ion-note>
          <ion-item>
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-input [type]="passwordtype" class="fadeIn third ion-padding" clearInput formControlName="senha"
              maxlength="10" placeholder="Senha">
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="senha.dirty &&
            senha.hasError('required')">
            Obrigatório
          </ion-note>
          <!-- <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('minlength')">
            Mínimo 6 Caracteres
          </ion-note> -->
          <div class="ion-padding-top">
            <!-- <input type="submit" class="fadeIn fourth" value="Login" [disabled]="formLogin.invalid" /> -->
            <button type="submit" class="btn btn-info fadeIn fourth btn-login" [disabled]="formLogin.invalid">entrar
              &nbsp;
              <i class="fa fa-sign-in ion-padding-right"></i> </button>
          </div>
        </form>
        <div class="ion-padding">
          <ion-button class="underlineHover fadeIn five" color="primary" expand="block" fill="clear"
            (click)="cadastro()">
            Cadastre-se
          </ion-button>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover fadeIn six" href="javascript:void(0);" (click)="abrirPrompt()">Esqueceu sua
            senha?</a>
        </div>
      </div>
    </div>
  </body>
</ion-content>