
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="secondary">
      <ion-icon title="Solicitar Protése" name="add" (click)="togglePopupMenu()"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button color="light">
      <ion-icon title="Sair" size="large" name="log-out" (click)="logout()"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>