<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="text ion-text-center">Pedidos Pendentes</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="align-self-center" size-md="6" size-lg="6" size-xs="12">
        <ion-list>
          <ng-container *ngFor="let pedido of pedidos">
            <ion-item-sliding *ngIf="pedido.idDentista == userLogado">
              <ion-item *ngIf="pedido.status == 'PENDENTE'">
                <ion-avatar slot="start">
                  <img [src]="pedido.picture" />
                </ion-avatar>
                <ion-label (click)="editarPedido(pedido.id)">
                  {{pedido.nomePaciente}}
                  <p><b>{{ pedido.tipoProtese }}</b></p>
                  <p><b>{{ pedido.subTipoProtese }}</b></p>
                  <p>{{ pedido.criadoEm | date: 'short' }}</p>
                </ion-label>

                <ion-note class="status" slot="end" *ngIf="pedido.status" [ngClass]="{
                    'text-primary':pedido.status === 'APROVADO',
                    'text-warning':pedido.status === 'PENDENTE',
                    'text-danger':pedido.status === 'CANCELADO',
                    'text-success':pedido.status === 'FINALIZADO',
                    'text-text':pedido.status === 'EM FABRICAÇÃO'
                  }"><b>{{ pedido.status}}</b>
                </ion-note>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="presentAlertConfirm(pedido.id)">
                  <ion-icon slot="top" name="trash"></ion-icon>
                  Excluir
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>