<ion-content>
    <ion-slides pager="true">
        <ion-slide *ngFor="let slide of slides">
            <div class="slide-img-padding">
                <img [src]="slide.img">
            </div>
            <div>
                <h3 [innerHTML]="slide.titulo"></h3>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer no-border>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="10" offset="1">
                <!-- botei o color SECONDARY pq o ACESSE AQUI esta da mesma cor do botao, ai ele nao vai aparecer, mudar a cor do ACESSE AQUI -->
                <ion-button color="secondary" expand="full" shape="round" mode="ios" class="btn-primary">
                    <a [routerLink]="['/login']">ACESSE AQUI</a>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>