img {
  max-width: 250px;
}

.logo img {
  max-width: 100px;
}

.status {
  font-size: 15px;
}

ion-note {
  padding: 5px
}

.login-blue {
  // background: linear-gradient(145deg, #2196f3, #3f51b5);
  background: #dde0fd;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.searchbar {
  margin: 6px 0px 6px 0px;
  height: 40px;
  // background-color: #353b48;
  background: linear-gradient(145deg, #2196f3, #3f51b5);
  border-radius: 40px;
  padding: 0px 15px 0px 15px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  // padding: -1px 10px; //
  width: 270px;
  // -webkit-transition: width 0.4s linear; //
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  // background: blue;
  color: white;
}

.search_icon {
  height: 30px;
  width: 24px;
  float: right;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 5px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 35%;
  color: white;
}


ion-fab {
  padding: 0 35px 30px 0px;

}

ion-fab-list {
  padding: 0 35px 30px 0px;
}

// quando ele atingir 360 px faca o que tiver ai embaixo
@media(max-width: 360px) {
  ion-fab {
    padding: 0 0px 0px 0px;
    // border: 1px solid  black;
  }

  ion-fab-list {
    padding: 0 0px 0px 0px;
  }
}

// quando ele atingir 650 px faca o que tiver ai embaixo
@media(min-width: 361px) and (max-width: 650px) {
  ion-fab {
    padding: 0 20px 20px 0px;
    // border: 1px solid  red;

  }

  ion-fab-list {
    padding: 0 35px 30px 0px;
  }
}


// quando ele atingir 980px faca o que tiver ai embaixo
@media (min-width: 651px) and (max-width: 980px) {
  ion-fab {
    padding: 0 35px 30px 0px;
    // border: 1px solid  blue;
  }

  ion-fab-list {
    padding: 0 35px 30px 0px;
  }
}

.titulo{
  margin: 8px 0px 0px 0px;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;  
}

:-ms-input-placeholder {  
  color: white;  
}