<ion-content>

  <body class="login-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn first componente">
          <a href="javascript:void(0);" class="icone" (click)="cancelar()">
            <i class="fa fa-arrow-left fa-lg mx-4 texto-cor"></i>
          </a>
          <h2 class="texto-cor"> Solicitar Pedido </h2>
        </div>
        <!-- Login Form -->
        <form [formGroup]="novoPedido" (submit)="savePedido()">
          <ion-item>
            <ion-icon name="person" slot="start"> </ion-icon>
            <ion-label position="stacked">Nome do Paciente:</ion-label>
            <ion-input type="text" class="fadeIn second ion-padding" clearInput formControlName="nomePaciente"
              maxlength="50">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="contact" slot="start"> </ion-icon>
            <ion-label position="stacked">Nome do Protetico:</ion-label>
            <ion-select formControlName="nomeProtetico" class="fadeIn second
              ion-padding-bottom" interface="popover" [interfaceOptions]="proteticoLabel">
              <ng-container *ngFor="let user of users | async">
                <span *ngIf="user.isDentista == false">
                  <ion-select-option value="{{ user.nome }}">
                    {{ user.nome }}
                  </ion-select-option>
                </span>
              </ng-container>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="beaker" slot="start"></ion-icon>
            <ion-label position="stacked">Categoria da Prótese:</ion-label>
            <ion-select class="fadeIn third ion-padding-bottom" interface="popover" [interfaceOptions]="categoriaLabel"
              formControlName="tipoProtese">
              <ion-select-option *ngFor="let categoria of categorias | async" value="{{ categoria.nome }}">
                {{ categoria.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-icon name="flask" slot="start"></ion-icon>
            <ion-label position="stacked">Tipo da Prótese:</ion-label>
            <ion-select class="fadeIn five ion-padding-bottom" interface="popover" [interfaceOptions]="tipoLabel"
              formControlName="subTipoProtese">
              <ion-select-option *ngFor="let tipo of tipos | async" value="{{
                tipo.nome }}">
                {{ tipo.nome }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label position="stacked">Detalhes do Pedido:</ion-label>
            <ion-textarea formControlName="observacao" maxlength="50" clearInput class="fadeIn six ion-padding-bottom">
            </ion-textarea>
          </ion-item>
          <div class="ion-padding-top">
            <button type="submit" class="btn btn-info fadeIn seven" [disabled]="novoPedido.invalid">Enviar pedido
              &nbsp;
              <i class="fa fa-sign-in ion-padding-right"></i> </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</ion-content>