<ion-content>

  <body class="login-blue">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="slide-img-padding ion-text-center" margin>
          <img src="assets/img/logo.png" alt="">
        </div>
        <div class="fadeIn first">
          <h2 margin> Cadastro Protético </h2>
        </div>
        <!-- Login Form -->
        <form [formGroup]="cadastrarProtetico" (submit)="register()">

          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="text" class="fadeIn second" formControlName="nome" maxlength="50" placeholder="Nome"
              required padding-bottom>
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('minlength')">
            Mínimo 5 Caracteres
          </ion-note>
          <ion-item>
            <ion-icon name="finger-print" slot="start"></ion-icon>
            <ion-input type="text" formControlName="cpf" placeholder="CPF" class="fadeIn third"
              [brmasker]="{mask: '999.999.999-99', len:14, type:'num', userCaracters: true}" padding-bottom>
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="cpf.dirty && cpf.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="danger" *ngIf="cpf.dirty && cpf.hasError('minlength')">
            CPF Inválido
          </ion-note>

          <ion-item>
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
            <ion-input type="text" formControlName="telefone" placeholder="Telefone" [brmasker]="{phone: true}"
              class="fadeIn five" padding-bottom>
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="telefone.dirty && telefone.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="danger" *ngIf="telefone.dirty && telefone.hasError('minlength')">
            Telefone Inválido
          </ion-note>

          <ion-item>
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-datetime formControlName="data" placeholder="Data de Nascimento" displayFormat="DD/MM/YYYY" min="1940"
              max="2010" (ionChange)="dateChanged($event)" class="fadeIn six" padding-bottom>
            </ion-datetime>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="data.dirty && data.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-item>
            <ion-icon name="at" slot="start"></ion-icon>
            <ion-input type="email" formControlName="email" placeholder="E-mail" class="fadeIn seven" padding-bottom>
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
            Email Inválido
          </ion-note>

          <ion-item>
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-input type="password" maxlength="10" formControlName="senha" placeholder="Senha" class="fadeIn eight"
              padding-bottom>
            </ion-input>
          </ion-item>
          <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('minlength')">
            Mínimo 6 Caracteres
          </ion-note>

          <div class="ion-padding-top">
            <input type="submit" class="fadeIn nine" value="Cadastrar" [disabled]="cadastrarProtetico.invalid" />
          </div>
        </form>
        <div class="ion-padding">
          <ion-button class="underlineHover fadeIn ten" color="primary" expand="block" fill="clear"
            (click)="botaoVoltar()">
            Login
          </ion-button>
        </div>
      </div>
    </div>
  </body>
</ion-content>