<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="text ion-text-center">Cadastro Protético</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="cadastrarProtetico" (submit)="register()">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="slide-img-padding ion-text-center padding">
            <img src="assets/img/logo.png" alt="">
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-icon name="person" color="primary" slot="start"></ion-icon>
              <ion-input type="text" formControlName="nome" placeholder="Nome" required></ion-input>
              <ion-note slot="end" color="danger" *ngIf="nome.dirty && nome.hasError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon name="finger-print" color="primary" slot="start"></ion-icon>
              <ion-input type="text" formControlName="cpf" placeholder="CPF"
                [brmasker]="{mask: '999.999.999-99', len:14, type:'num', userCaracters: true}">
              </ion-input>
              <ion-note slot="end" color="danger" *ngIf="cpf.dirty && cpf.hasError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon name="calendar" color="primary" slot="start"></ion-icon>
              <ion-input type="text" formControlName="data" placeholder="Data de Nascimento"
                [brmasker]="{mask: '00/00/0000', len:10, type:'num'}" required>
              </ion-input>
              <ion-note slot="end" color="danger" *ngIf="data.dirty && data.hasError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon name="call" color="primary" slot="start"></ion-icon>
              <ion-input type="text" formControlName="telefone" placeholder="Telefone" [brmasker]="{phone: true}">
              </ion-input>
              <ion-note slot="end" color="danger" *ngIf="telefone.dirty && telefone.hasError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon name="mail" color="primary" slot="start"></ion-icon>
              <ion-input type="text" formControlName="email" placeholder="E-mail">
              </ion-input>
              <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon name="eye-off" color="primary" slot="start"></ion-icon>
              <ion-input type="password" formControlName="senha" placeholder="Senha">
              </ion-input>
              <ion-note slot="end" color="danger" *ngIf="senha.dirty && senha.hasError('required')">
                Obrigatório
              </ion-note>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="medium" type="submit" expand="block" [disabled]="cadastrarProtetico.invalid"> Cadastrar
              <ion-icon slot="end" name="send"></ion-icon>
            </ion-button>
          </div>
          <div class="ion-padding">
            <ion-button color="primary" expand="block" fill="clear" (click)="botaoVoltar()">
              Login
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="logo ion-text-center">
      <img src="assets/img/copyright.png" alt="">
    </div>
  </ion-toolbar>
</ion-footer>