<ion-content>

  <body class="login-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <form [formGroup]="atualizarDentista" (submit)="update()">
          <div class="fadeIn first componente">
            <a href="javascript:void(0);" class="icone" (click)="cancelar()">
              <i class="fa fa-arrow-left fa-lg mx-4 texto-cor"></i>
            </a>
            <img class="preview-img" width="100" height="100"
              src="https://www.hotelmoreto.com/uploads/testimonials/2f8c38b0c7ef0e101671959549633db409d8edc1.png">
          </div>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="text" maxlength="50" class="fadeIn second" [(ngModel)]="nome"
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="finger-print" slot="start"></ion-icon>
            <ion-input type="tel" class="fadeIn third" clearInput formControlName="cpf">
              {{ cpf }}
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="md-medkit" slot="start"></ion-icon>
            <ion-input type="text" class="fadeIn fourth" minlength="4" formControlName="cro">
              {{ cro }}
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
            <ion-input type="tel" class="fadeIn five" clearInput formControlName="telefone" [brmasker]="{phone: true}">
              {{ telefone }}
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-input clearInput formControlName="data" class="fadeIn seven">
              {{ data }}
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="at" slot="start"></ion-icon>
            <ion-input type="email" clearInput formControlName="email" class="fadeIn seven">
              {{ email }}
            </ion-input>
          </ion-item>
          <!-- <ion-button type="submit">Atualizar</ion-button> -->
          <div class="ion-padding-top ">
            <button type="submit" class="btn btn-info fadeIn seven btn-login ">Atualizar Perfil
              &nbsp;
              <i class="fa fa-check ion-padding-right"></i> </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</ion-content>