<ion-header>
    <ion-toolbar translucent>
        <ion-button slot="end" color="light" fill="solid" (click)="logout()">
            <ion-icon name="log-out" size="large"></ion-icon>
        </ion-button>
        <ion-title>
            <div class="text ion-text-center">Meus Pedidos</div>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
            <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12">
                <ion-list>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <img src="https://bit.ly/2lRJLtt">
                        </ion-thumbnail>
                        <ion-label>
                            <h3>Lorem ipsum</h3>
                            <p>dolor sit amet</p>
                            <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                        </ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<app-footer></app-footer>