ion-slide {
  display: block;
}

.slide-img-padding {
  padding: 40px;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 60px;
}

.btn-primary {
  height: 60px;
}

img {
  max-width: 250px;
}

.logo img {
  max-width: 100px;
}