:root {  
  --ion-safe-area-top: 50px;  
  --ion-safe-area-bottom: 50px;  
  
}  
.swiper-slide {  
  display: block;  
}  
ion-slide > h2 {  
  margin-top: 2.8rem;  
}  
ion-slide > img {  
  max-height: 50%;  
  max-width: 60%;  
  margin: 50px 0px 0px 0px;  
}  
ion-content{
  background: linear-gradient(145deg, #2196f3, #3f51b5);
}

h2, p{
color: #fff;
}
.btn-primary {
  width: 150px;
  height: 50px;
  // font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  // text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: rgba(234, 239, 245, 0.6);
  border-radius: 50%;
  animation: shadow-pulse 0.8s infinite;
}

