<ion-content>

  <body class="login-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn first componente">
          <a href="javascript:void(0);" class="icone" (click)="cancelar()">
            <i class="fa fa-arrow-left fa-lg mx-4 texto-cor "></i>
          </a>
          <h2 class="texto-cor"> Detalhes do Pedido </h2>
        </div>
        <form [formGroup]="editarPedido" (submit)="atualizarPedido()">
          <ion-item>
            <ion-label position="stacked">Nome do Paciente:</ion-label>
            <ion-input type="text" class="fadeIn second ion-padding" clearInput maxlength="50"
              [(ngModel)]="nomePaciente" [ngModelOptions]="{standalone: true}" required>
            </ion-input>
            <ion-icon name="person" slot="start">
            </ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nome do Protético:</ion-label>
            <ion-input type="text" color="medium" class="fadeIn second ion-padding" formControlName="nomeProtetico">
              {{nomeProtetico}}
            </ion-input>
            <ion-icon name="contact" slot="start">
            </ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Tipo da Protese:</ion-label>
            <ion-input type="text" color="medium" class="fadeIn second ion-padding" formControlName="tipoProtese">
              {{tipoProtese}}
            </ion-input>
            <ion-icon name="beaker" slot="start">
            </ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Subtipo da Protese:</ion-label>
            <ion-input type="text" color="medium" class="fadeIn second ion-padding" formControlName="subTipoProtese">
              {{subTipoProtese}}
            </ion-input>
            <ion-icon name="flask" slot="start">
            </ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label position="floating">Observação</ion-label>
            <ion-textarea maxlength="50" class="fadeIn six ion-padding-bottom" [(ngModel)]="observacao"
              [ngModelOptions]="{standalone: true}" required></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-icon name="checkbox" slot="start"></ion-icon>
            <ion-label position="stacked">Status do Pedido:</ion-label>
            <ion-select class="fadeIn five ion-padding-bottom" interface="popover" [interfaceOptions]="tipoLabel"
            [(ngModel)]="status"   [ngModelOptions]="{standalone: true}" required>
              <ion-select-option selected value="APROVADO"> APROVADO </ion-select-option>
              <ion-select-option  value="CANCELADO"> CANCELADO </ion-select-option>
              <ion-select-option  value="PENDENTE"> PENDENTE </ion-select-option>
              <ion-select-option  value="FINALIZADO"> FINALIZADO </ion-select-option>
              <ion-select-option  value="EM FABRICAÇÃO">EM FABRICAÇÃO </ion-select-option>
            </ion-select>
          </ion-item>

      
          <div class="ion-padding-top ">
            <button type="submit" class="btn btn-info fadeIn seven">Atualizar Pedido
              &nbsp;
              <i class="fa fa-check ion-padding-right"></i> </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</ion-content>